html{
    font-size: 20px;
    font-family: 'Shadows Into Light Two', cursive;
    background-color: #33cc33;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 40px;
    text-align: center;
}

h3{
    width: 800px;
    text-align: center;
    margin-left: 325px;
    color: #003300;
}


img{
    display: block;
    margin: 0 auto;
    width: 500px;
}